#deck {
 background-color: #ce4b4b;
 border: solid 3px #333;
 border-radius: 9px;
 width: 300px;
 position: fixed;
 right: -312px;
 height: 80%;
 top: 5%;
 bottom: 5%;
 transition: all 0.2s;
 padding-bottom: 9px;
}

#deck.expanded {
 right: 15px;
}

#deck .expand {
 display: initial;
}

#deck.expanded .expand {
 display: none;
}

#deck .shrink {
 display: none;
}

#deck.expanded .shrink {
 display: initial;
}

#deck input {
 all: unset;
 height: 30px;
 font-size: 24px;
 margin: 0 0 0 9px;
 border-bottom: solid 1px #d2d2d2;
 width: calc(100% - 18px);
}

#deck #cards {
 overflow-y: scroll;
 width: 300px;
 height: calc(100% - (50px + 31px));
 top: 0;
 position: relative;
}

#deck .card-container {
 width: 100%;
 position: relative;
}

#deck .card-container .delete {
 cursor: pointer;
 position: absolute;
 top: 9px;
 right: 9px;
 width: 24px;
 height: 24px;
 line-height: 24px;
 text-align: center;
 background-color: #f00;
 border: solid #000 3px;
 border-radius: 3px;
}

#deck .card-container img {
 width: inherit;
 position: absolute;
 transition: 0.2s;
}

#deck .card-container img.selected {
 z-index: 1;
 scale: 1.01;
}

#deck #slider {
 cursor: pointer;
 position: absolute;
 top: 5%;
 left: -42px;
 width: 36px;
 height: 90%;
 background-color: #ce4b4b;
 border: solid 3px #333;
 border-radius: 9px;
 z-index: 1;
 display: table;
}

#deck #slider .expander {
 vertical-align: middle;
 display: table-cell;
}

#deck #slider .expander svg {
 scale: 1 5;
}

#deck .menu {
 width: 150px;
 height: 50px;
 display: table;
 float: right;
}

#deck .menu div {
 display: table-cell;
 cursor: pointer;
}

#deck .menu #file {
 display: none;
}

#deck.maximised {
 position: fixed;
 top: 0;
 left: 0;
 right: unset;
 width: 100%;
 height: 100%;
 overflow-y: auto;
 border: none;
 border-radius: 0;
 z-index: 3;
 padding-bottom: unset;
}

#deck.maximised #slider {
 display: none;
}

#deck.maximised #cards {
 width: 100%;
 position: unset;
 height: fit-content;
 top: unset;
 overflow-y: initial;
 display: grid;
 grid-template-columns: repeat(1, 1fr);
 grid-gap: 9px;
}

@media (min-width: 350px) {
 #deck.maximised #cards {
  grid-template-columns: repeat(2, 1fr);
 }
}

@media (min-width: 700px) {
 #deck.maximised #cards {
  grid-template-columns: repeat(3, 1fr);
 }
}

@media (min-width: 1000px) {
 #deck.maximised #cards {
  grid-template-columns: repeat(4, 1fr);
 }
}

#deck.maximised #cards .card-container {
 top: unset !important;
}

#deck.maximised #cards .card-container img {
 width: 100%;
 position: initial;
}
